
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Brown-Pro",Helvetica,Arial,sans-serif;
}

:root {
    --cor-principal: rgba(28, 28, 28, 1);
    --cor-azul: rgba(0, 184, 252, 1);
    --cor-branca: rgba(244, 244, 244, 1);
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-branca);
}
a {
    text-decoration: none;
    color: var(--cor-branca);
    font-weight: 600;
}
.header {
    margin: 2rem 5rem;
    display: flex;
    align-items: center;
    background-color: rgba(28, 28, 28, 0);
    position: absolute; /* Foi esse comando que fez o header ficar por cima do vídeo e transparente*/
    z-index: 200; /*Usei o z-index para que o conteúdo do header fique sobre o vídeo, se não usar esse atributo, o header fica embaixo da .hero e aí não aparece os efeitos no link por exemplo */
}
.header__img {
    height: 4rem;
    width: auto;
}
.header__links {
    padding-left: 55rem;
}
.header__links > a:hover {
    border-radius: 9999px;
    background-color: var(--cor-branca);
    color: var(--cor-principal);
    padding: 0.35rem 1rem;
}
.header__links > a {
    margin-left: 3rem;
    padding: 0.35rem 1rem
}
.hero {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.117), rgba(0, 0, 0, 0.979));
}
.hero__background {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.hero__foreground {
    text-align: center;
    padding-top: 60vh;
}
.hero__foreground-title {
    font-size: 4.5rem;
    font-weight: 600;
}
.hero__foreground-text {
    margin-top: 2rem;
    letter-spacing: .35rem;
}

.section__asside,
.section {
    padding: 8rem 8rem;
    overflow: hidden;
    background: radial-gradient(rgba(0, 0, 0, 0.117), rgba(0, 0, 0, 0.979))
}

.section__asside-img {
    float: left;
    margin-right: 15rem;
    object-fit: cover;
}
.section__asside-text,
.section__text {
    font-size: 1.15rem;
    line-height: 2rem;
    margin: 4rem auto;
    text-align: center;
}
.section__asside-text > p, h2 {
    margin: 2.5rem 0;
    text-align: justify;
}
.section__button {
    border: 2px solid var(--cor-azul);
    border-radius: 9999px;
    padding: 0.65rem 1rem;
}
.section__button:hover {
    background-color: var(--cor-azul);
}

.section {
    padding: 0;
    height: 90vh;
    position: relative;
    /* Importante colocar o position:relative; aqui para termos uma referencia para a nossa imagem. Se não tiver esse comando a imagem irá sair da div */
    /* Isso ocorre porque o posicionamento absoluto é calculado em relação ao elemento pai que tem um posicionamento relativo, no caso, a section. */
}

.section__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 60rem;
    position: absolute;
    z-index: -10;
}
.section__text {
    position: relative;
    margin-top: 20rem;
    margin-left: 65rem;
    margin-right: 10rem;
    text-align: center;
    padding-right: 9rem;
}
.section__text > h2 {
    text-transform: uppercase;
    text-align: left;
}
.section__text > h2::after {
    margin-top: 1rem;
    content: "";
    width: 9rem;
    height: .55rem;
    background-color: rgb(119, 119, 119);
    display: block;
    position: absolute;
}
.section__text > p {
    line-height: 1.45rem;
    margin-bottom: 2.5rem;
    text-align: left;
}

.section:nth-child(even) > .section__text {
    line-height: 1.45rem;
    margin-bottom: 2.5rem;
    text-align: right;
    margin-right: 65rem;
    margin-left: 10rem;
}

footer {
    text-align: center;
    background-color: var(--cor-principal);
    margin: 1.25rem;
}
.footer__links > a {
    margin:0 3rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}
.footer__links:nth-child(1) {
    margin-top: 2rem;
}
